@import url("../variables.css"); /* Import global styles */

footer {
    padding: 15px 0;
    background: var(--primary-accent);
    position: relative;
    bottom: 0;
    width: 100%;
    max-width: 100%;
    text-align: center;
    color: var(--font-color);
}

/* Light Theme */
[data-theme="light"] footer {
    background: var(--primary-accent);
    color: white
}

/* Dark Theme */
[data-theme="dark"] footer {
    background: var(--primary-accent);
    color: white;
}
