:root {
    /* Light Mode */
    --primary-bg: #ffffff;
    --secondary-bg: #c0c0c0;
    --primary-color: #222;
    --accent-color: #007bff;
    --toggle-bg: #ddd;
    --toggle-icon: #222;
    --toggle-active-bg: #222;
    --toggle-active-icon: #fff;
}

/* Dark Mode */
[data-theme="dark"] {
    --primary-bg: #222;
    --secondary-bg: #404040;
    --primary-color: #fff;
    --accent-color: #ff9800;
    --toggle-bg: #444;
    --toggle-icon: #fff;
    --toggle-active-bg: #fff;
    --toggle-active-icon: #222;
}
